.container{
    margin-top: 50px;
    padding: 20px 0;
    background-color: #06af8f;

    display: flex;

    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}
.item{
    width: 70px;
    padding: 30px ;
    /* margin: 10px; */
    background-color: #f19861;
    text-align: center;
    font-size: 30px;
    color: bisque;
}